In [1]:
import pandas as pd
import numpy as np
import us
from ast import literal_eval
import seaborn as sns
from matplotlib import pyplot as plt
from ast import literal_eval
from datetime import date
import plotly.express as px
from geopy.geocoders import Nominatim
import plotly.graph_objects as go

In [2]:
data_set = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")
data_set.shape

(1826360, 6)

In [3]:
def get_state_abbrev(state_name):
  name = us.states.lookup(state_name)  
  abbre = name.abbr
  return abbre

def set_title_and_labels(title, x, y):
    plt.title(title, fontsize=13)
    plt.xlabel(x,fontsize = 10.5)
    plt.ylabel(y,fontsize = 10.)

In [4]:
states_abbr = []
data_set.head(4)
data_set['deaths']= pd.to_numeric(data_set['deaths'])
data_set['state_abbrev'] = data_set['state'].apply(get_state_abbrev)
data_set.head(4)

         date     county       state     fips  cases  deaths state_abbrev
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0           WA
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0           WA
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0           WA
3  2020-01-24       Cook    Illinois  17031.0      1     0.0           IL